* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --main-font-color: #333;
  --secondary-font-color: #fff;
  --border-radius-color: #666;
  --dev-bg-color: #eaeaea;
  --contact-bg-color: #2690d4;
  --footer-bg-color: #000;
  --title-font-size: 24px;
  font-size: 17px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  text-align: center;
  color: var(--main-font-color);
}

.heading {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  position: relative;
  min-height: 450px;
  padding: 30px;
  color: var(--secondary-font-color);
}

.heading::before {
  position: absolute;
  content: "";
  inset: 0;
  z-index: -1;
  opacity: 0.8;
  background: url(../images/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.heading-title {
  font-size: 2rem;
  font-weight: bold;
}

.text {
  font-size: 1rem;
}

.heading-text {
  margin: 20px 0;
}

.heading-btn {
  display: inline-block;
  padding: 17px 34px;
  border: 1px solid var(--border-radius-color);
  background-color: var(--main-font-color);
}

.heading-btn:hover,
.heading-btn:focus {
  background-color: var(--secondary-font-color);
  color: var(--main-font-color);
}

.section-dev {
  padding: 35px 20px;
  background-color: var(--dev-bg-color);
}

.title {
  color: var(--main-font-color);
  font-size: 1.5rem;
  font-weight: bold;
}

.dev-title {
  margin-bottom: 26px;
}

.dev-text {
  column-count: 2;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 20px 10px 10px;
  background-color: var(--main-font-color);
}

.card {
  margin: 20px 10px;
  max-width: 300px;
  background-color: var(--secondary-font-color);
}

.card-img {
  width: 100%;
}

.card-container {
  padding: 40px 20px;
}

.card-title {
  margin-bottom: 40px;
}

.card-text {
  flex: 1 0 auto;
}

.section-needs {
  padding: 36px;
  background-color: var(--secondary-font-color);
}

.needs-title {
  margin-bottom: 26px;
}

.section-about {
  display: flex;
  color: var(--secondary-font-color);
}

.section-contact {
  flex: 1 0 50%;
  padding: 35px;
  background-color: var(--contact-bg-color);
}

.contact-title {
  margin-bottom: 26px;
  color: var(--secondary-font-color);
}

.contact-text {
  margin-bottom: 17px;
}

.section-history {
  padding: 35px;
  background-color: var(--main-font-color);
}

.history-title {
  margin-bottom: 26px;
  color: var(--secondary-font-color);
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color: var(--footer-bg-color);
  padding: 35px;
  color: var(--secondary-font-color);
}

.footer-text {
  font-size: 1.1rem;
}

.project-label {
  color: var(--contact-bg-color);
}
